<!DOCTYPE html>
<html lang="en">
<head>
    <title>Admin</title>
    <link rel="stylesheet" href="{{ url_for('static', path='external.css') }}">
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/029/858/669/small_2x/mystical-forest-opened-book-with-magic-tree-on-dark-background-generative-ai-photo.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <h1 style="text-align: center;margin-top: 100px;background-color: black;color: white;">Admin</h1>
    <div>
        <form method="post" action="/admin">
            <table>
                <tr>
                    <td>Name</td>
                    <td><input type="text" name="name"></td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td><input type="password" name="password"></td>
                </tr>
                 <tr>
                <td></td>
                <td>{% if error %}
        <p style="color: red; text-align:center;">{{ error }}</p>
    {% endif %}
    </td>
            </tr>
                <tr>
                    <td><button onclick="window.location.href='/admin'" class="stylish-btn">Refresh</button></td>
                    <td><button type="submit">Submit</button></td>
                </tr>
            </table>
        </form>
    </div>
    
</body>
</html>