<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <link rel="stylesheet" href="{{ url_for('static', path='external.css') }}">
</head>
<body style="background-image: url('https://static.vecteezy.com/system/resources/thumbnails/029/858/669/small_2x/mystical-forest-opened-book-with-magic-tree-on-dark-background-generative-ai-photo.jpg'); background-size: cover; background-repeat: no-repeat; background-attachment: fixed;">
    <h1 style="text-align: center;">Functionalities</h1>
    <h1 style="background: white;color: white;text-align: center;margin-top: 60px;">
        <a href="/admin">Admin    |</a>
        <a href="/helper">Helper   |</a>
        <a href="/seeker">Seeker   |</a>
        <a href="/profile">Profile  |</a>
        <a href="/feedback">feedback    |</a>
        <a href="/">back</a>
        </h1>
  <marquee behavior="scroll" direction="left" scrollamount="15">
  <img src="{{ url_for('static', path='school.jpg') }}" width="300" height="300" alt="School 1">
  <img src="{{ url_for('static', path='teacher.jpg') }}" width="300" height="300" alt="School 2">
  <img src="{{ url_for('static', path='pg.jpg') }}" width="300" height="300" alt="School 3">
  <img src="{{ url_for('static', path='garden.jpg') }}" width="300" height="300" alt="School 4">
  <img src="{{ url_for('static', path='bus.jpg') }}" width="300" height="300" alt="School 5">
  <img src="{{ url_for('static', path='library.png') }}" width="300" height="300">
  <img src="{{ url_for('static', path='school.jpg') }}" width="300" height="300" alt="School 1">
  <img src="{{ url_for('static', path='teacher.jpg') }}" width="300" height="300" alt="School 2">
  <img src="{{ url_for('static', path='pg.jpg') }}" width="300" height="300" alt="School 3">
  <img src="{{ url_for('static', path='garden.jpg') }}" width="300" height="300" alt="School 4">
  <img src="{{ url_for('static', path='bus.jpg') }}" width="300" height="300" alt="School 5">
  <img src="{{ url_for('static', path='library.png') }}" width="300" height="300">
</marquee>
    
   
    
</body>
</html>